{% extends 'base.html' %}
{% block title %}Detalles del Pedido #{{ pedido.id }}{% endblock %}
{% block content %}
<div class="container mt-4 form-container">
    <h2>Detalles del Pedido #{{ pedido.id }}</h2>
    <hr>
    <p><strong>Cliente:</strong> {{ pedido.cliente.nombre }}</p>
    <p><strong>Item de Inventario:</strong> {{ pedido.item_inventario.nombre }}</p>
    <p><strong>Cantidad:</strong> {{ pedido.cantidad }}</p>
    <p><strong>Fecha de Entrega:</strong> {{ pedido.fecha_entrega }}</p>

    {% if request.user.is_authenticated and request.user.perfil.rol == 'administrador' or request.user.perfil.rol == 'tecnico' %}
        <a href="{% url 'pedidos:editar_pedido' pedido.id %}" class="btn btn-primary">Editar Pedido</a>
    {% endif %}
    <a href="{% url 'pedidos:pedido_home' %}" class="btn btn-link">Volver a la lista de pedidos</a>
</div>
{% endblock %}
