{% extends 'base.html' %}
{% block title %}Pedidos{% endblock %}
{% block content %}

<div class="container mt-4 form-container">
    {% if messages %}
        {% for message in messages %}
            {% if 'pedidos' in message.tags %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h2>Lista de Pedidos</h2>
    {% if request.user.is_authenticated %}
        {% if request.user.perfil.rol == 'tecnico' or request.user.perfil.rol == 'administrador' %}
            <a href="{% url 'pedidos:crear_pedido' %}" class="btn btn-success mb-3">Agregar Pedido</a>
            <a href="{% url 'pedidos:seleccionar_crud_pedido' %}" class="btn btn-info">Volver a la Gestión de Pedidos</a>
        {% endif %}
    {% endif %}
    
    {% for pedido in pedidos %}
        <div class="card mb-3 caja-pedido">
            <div class="card-body">
                <h5 class="card-title">Pedido de {{ pedido.cliente.nombre }}</h5>
                <p class="card-text">
                    Item: {{ pedido.item_inventario.nombre }} <br>
                    Cantidad: {{ pedido.cantidad }} <br>
                    Fecha de Entrega: {{ pedido.fecha_entrega|date:"d/m/Y" }}
                </p>
                {% if request.user.perfil.rol == 'administrador' or request.user.perfil.rol == 'tecnico' %}
                    <div class="container mt-4">
                        <form method="post" action="{% url 'pedidos:eliminar_pedido' pedido.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                {% endif %}

                <a href="{% url 'pedidos:detalle_pedido' pedido.pk %}" class="btn btn-primary">Ver Detalles</a>
            </div>
        </div>
    {% empty %}
        <p>No hay pedidos registrados.</p>
    {% endfor %}
</div>
{% endblock %}
